/***********************************************************************
	BLEACHED - A largely white style for SugarCube (v2.7.0+)
***********************************************************************/
body {
	color: #111;
	background-color: #fff;
}
a {
	color: #35c;
}
a:hover {
	color: #57e;
}
span.link-disabled {
	color: #777;
}
button {
	color: #111;
	background-color: #acf;
	border-color: #8ad;
}
button:hover {
	background-color: #8ad;
	border-color: #68b;
}
button:disabled {
	background-color: #ccc;
	border-color: #aaa;
}
input, select, textarea {
	color: #111;
	border-color: #ccc;
}
input:focus, select:focus, textarea:focus,
input:hover, select:hover, textarea:hover {
	background-color: #eee;
	border-color: #111;
}
hr {
	border-color: #111;
}

.error {
	background-color: #eaa;
	border-left-color: #d77;
}

#ui-bar {
	background-color: #eee;
	border-color: #ccc;
}
#ui-bar hr {
	border-color: #ccc;
}
#ui-bar-toggle,
#ui-bar-history [id|="history"] {
	color: #111;
	border-color: #ccc;
}
#ui-bar-toggle:hover,
#ui-bar-history [id|="history"]:hover {
	background-color: #ccc;
	border-color: #111;
}
#ui-bar-history [id|="history"]:disabled {
	color: #ccc;
	background-color: transparent;
	border-color: #ccc;
}
#menu ul {
	border-color: #ccc;
}
#menu li:not(:first-child) {
	border-top-color: #ccc;
}
#menu li a {
	color: #111;
}
#menu li a:hover {
	background-color: #ccc;
	border-color: #111;
}

/* Default dialog styling */
#ui-overlay {
	background-color: #777;
}
#ui-dialog-titlebar {
	background-color: #ccc;
}
#ui-dialog-close:hover {
	background-color: #b44;
	border-color: #a33;
}
#ui-dialog-body {
	background-color: #fff;
	border-color: #ccc;
}
#ui-dialog-body hr {
	background-color: #ccc;
}

/* List-based dialog styling */
#ui-dialog-body.list li:not(:first-child) {
	border-top-color: #ccc;
}
#ui-dialog-body.list li a {
	color: #111;
}
#ui-dialog-body.list li a:hover {
	background-color: #ccc;
	border-color: #111;
}

/* Saves dialog styling */
#ui-dialog-body.saves > *:not(:first-child),
#ui-dialog-body.saves tr:not(:first-child) {
	border-top-color: #ccc;
}
#ui-dialog-body.saves .empty {
	color: #777;
}

/* Settings dialog styling */
#ui-dialog-body.settings button[id|="setting-control"] {
	color: #111;
	border-color: #ccc;
}
#ui-dialog-body.settings button[id|="setting-control"]:hover {
	background-color: #eee;
	border-color: #111;
}
#ui-dialog-body.settings button[id|="setting-control"].enabled {
	background-color: #9e9;
	border-color: #7c7;
}
#ui-dialog-body.settings button[id|="setting-control"].enabled:hover {
	background-color: #7c7;
	border-color: #5a5;
}

/* Debug view styling */
html:not(.debug-view) #debug-view-toggle {
	color: #111;
	border-color: #ccc;
}
html:not(.debug-view) #debug-view-toggle:hover {
	background-color: #eee;
	border-color: #111;
}
html.debug-view #debug-view-toggle {
	background-color: #9e9;
	border-color: #7c7;
}
html.debug-view #debug-view-toggle:hover {
	background-color: #7c7;
	border-color: #5a5;
}
html.debug-view .debug {
	background-color: #dc9;
}
html.debug-view .debug.hidden,
html.debug-view .debug.hidden .debug {
	background-color: #bbb;
}

